/* meida query */
@media (max-width: 1024px) {

  /* ===== NAVBAR ===== */
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

  .social-icons {
    display: none;
  }

  /* ===== HOME SECTION ===== */
  .home-section {
    height: auto;
    padding-bottom: 60px;
  }

  .home-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .section1 {
    margin: 140px 20px 40px;
  }

  .home-intro {
    width: 100%;
    font-size: 36px;
    justify-content: center;
  }

  .business-qualifier,
  #typing {
    font-size: 22px;
  }

  .home-paragraph {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
  }

  .home-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  /* ===== PROFILE IMAGE ===== */
  .section2 {
    margin-top: 40px;
    position: relative;
  }

  .profile-picture {
    width: 260px;
    height: auto;
    margin: 0 auto;
  }

  /* ===== FLOATING BUTTONS ===== */
  .floating-buttons {
    left: 6px;
    top: 50%;
    transform: translateY(-50%);
    gap: 30px;
  }

  #mid-btn {
    transform: none;
  }

  .float-btn {
    width: 80px;
    height: 40px;
    font-size: 14px;
  }

  /* ===== ABOUT SECTION ===== */
  .about-section {
    height: auto;
    padding-bottom: 80px;
  }

  .about-heading {
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
  }

  .about-p1,
  .about-p2 {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
    font-size: 18px;
  }

  .box-row {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .box1,
  .box2,
  .box3,
  .box4 {
    width: 90%;
    max-width: 320px;
    margin-left: 0;
  }

    .stats {
      flex-direction: column;
      gap: 40px;
      align-items: center;
  }

  .html, .css{
  max-width: 90%;
  }

  .rating1, .rating2{
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
}




@media (max-width: 480px) {

  .home-intro {
    font-size: 28px;
  }

  .business-qualifier,
  #typing {
    font-size: 18px;
  }

  .home-paragraph {
    font-size: 16px;
  }

  .home-button1,
  .home-button2 {
    width: 150px;
    font-size: 15px;
  }

  .profile-picture {
    width: 220px;
    position: relative;
    display: block;
  }

  .floating-buttons {
    position: absolute;
    top: 50%;
    left: -60px; /* push to left of image */
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateY(-50%);
  }  

  .float-btn {
    width: 70px;
    height: 36px;
    font-size: 12px;
  }

  .about-heading {
    font-size: 32px;
  }

  .box-heading {
    font-size: 24px;
  }

  .box-p {
    font-size: 16px;
  }
}




